
.icon-fb:before { content: '\e801'; } /* '' */
.icon-inst:before { content: '\e802'; } /* '' */
.icon-tg:before { content: '\e804'; } /* '' */
.icon-vk:before { content: '\e805'; } /* '' */
.icon-watsapp:before { content: '\e806'; } /* '' */
.icon-yt:before { content: '\e807'; } /* '' */
.icon-close:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */