@font-face {
  font-family: "OrchideaPro";
  font-style: normal;
  font-weight: 300;
  src: local("OrchideaPro Light"), local("OrchideaPro-Light"),
    url("../fonts/OrchideaPro/OrchideaPro-Light.eot"),
    url("../fonts/OrchideaPro/OrchideaPro-Light.ttf") format("truetype"),
    url("../fonts/OrchideaPro/OrchideaPro-Light.woff") format("woff"),
    url("../fonts/OrchideaPro/OrchideaPro-Light.woff2") format("woff2");
}

@font-face {
  font-family: "OrchideaPro";
  font-style: normal;
  font-weight: 400;
  src: local("OrchideaPro Regular"), local("OrchideaPro-Regular"),
    url("../fonts/OrchideaPro/OrchideaPro-Regular.eot"),
    url("../fonts/OrchideaPro/OrchideaPro-Regular.ttf") format("truetype"),
    url("../fonts/OrchideaPro/OrchideaPro-Regular.woff") format("woff"),
    url("../fonts/OrchideaPro/OrchideaPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "OrchideaPro";
  font-style: normal;
  font-weight: 700;
  src: local("OrchideaPro Bold"), local("OrchideaPro-Bold"),
    url("../fonts/OrchideaPro/OrchideaPro-Bold.eot"),
    url("../fonts/OrchideaPro/OrchideaPro-Bold.ttf") format("truetype"),
    url("../fonts/OrchideaPro/OrchideaPro-Bold.woff") format("woff"),
    url("../fonts/OrchideaPro/OrchideaPro-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: local("Nunito Light"), local("Nunito-Light"),
    url("../fonts/Nunito/Nunito-Light.eot"),
    url("../fonts/Nunito/Nunito-Light.ttf") format("truetype"),
    url("../fonts/Nunito/Nunito-Light.woff") format("woff"),
    url("../fonts/Nunito/Nunito-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"),
    url("../fonts/Nunito/Nunito-Regular.eot"),
    url("../fonts/Nunito/Nunito-Regular.ttf") format("truetype"),
    url("../fonts/Nunito/Nunito-Regular.woff") format("woff"),
    url("../fonts/Nunito/Nunito-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: local("Nunito Bold"), local("Nunito-Bold"),
    url("../fonts/Nunito/Nunito-Bold.eot"),
    url("../fonts/Nunito/Nunito-Bold.ttf") format("truetype"),
    url("../fonts/Nunito/Nunito-Bold.woff") format("woff"),
    url("../fonts/Nunito/Nunito-Bold.woff2") format("woff2");
}
